.header {
    background-image: url(../assets/images/Ellipse.png), linear-gradient(#F3F3F3, #F3F3F3);
    background-size: 50% auto, cover;
    background-position: -40% -300%, center;
    background-repeat: no-repeat, no-repeat;
}

.blue {
    margin-top:1.5rem;
    font-weight: 300;
}

#country-page form {
    margin-top: 5rem;
}

.covered-zone .subtitle{
    margin:3rem 0 3.5rem 0;
    text-align: center;
}

.contact .container {
    grid-template-columns: minmax(200px,55%) auto;
}