*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: grid;
    place-items: center;
    background-color: #e2e2e2;
}



header .header{
    margin-top: .5rem;
    background-color: white;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .brand-logo {
    width: 120px;
    flex-basis: 40%;
    height: auto;

}

.slogan {
    font-style: italic;
    flex-basis: 40%;
    font-size: .9rem;
    font-weight: 500;
    text-transform: none;
    line-height: 1.1rem;
}
.mainContent{
    height: auto;
    width: 100%;
    max-width: 702px;
    background-color:#f6f6f6;
    display: grid;
}
/*header part*/
header{
    display: grid;
    background-color: white;
    padding:1.5rem 4.5% 3rem 5.1%;
}


.content{
    background-color: #f6f6f6;
    position: relative;
    display: grid;
    min-height: 60rem;
}


/*secod part of content*/

.second{
    position:relative;
    top: -2rem;
    width: 90%;
     max-height: 300px;
    justify-self: center;
    overflow: hidden;
}

.full-image {
    width: 100%;
}
.second .text{
    background-color: black;
    padding: .5rem;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-between;
}
.second .text h1{
    padding-left: .3rem;
    font-size: 1.3rem;
    align-self: center;
    color: white;
}
.button{
    flex-basis: 150px;
    text-decoration: none;
    background-color: #1A14C6;
    color: white;
    display: grid;
    place-items: center;
    font-weight: bold;
}

/*third part of the content*/

.third{
    width: 90%;
    justify-self: center;
}
.third .business{
    padding: 5%;
    margin-bottom: 1rem;
    background-color: white;
}
.business h1 {
    font-size: 1.3rem;
}

.business .infos {
    font-weight: 300;
}

.news-image {
    float: left;
    width: 60%;
    margin-right: 1rem;
    height:auto;
}

.info-content {
    text-align: justify;
}


.infos {
    font-size: .9rem;
}

.business .date-of-news ,.third .business p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.business .date-of-news {
    position: relative;
    top: -7px;
    font-weight: 350;
    font-size: .8rem;
    font-style: italic;
}

.third .business button{
    justify-self: end;
}

/*footer part*/
footer{
    padding: .8rem 0 1.5rem 0;
    
}
footer .adresse{
    font-size: .8rem;
    font-weight: 700;
    color: gray;
    display: grid;
    place-items: center;
}

/*mobile responsive*/
/* @media (max-width:504px){
    .content{
        min-height: 73rem;
    }
    .content h1{
        font-size: 130%;
    }
    .content p{
        font-size: 100%;
    }
    .first p{
        padding-left: 5%;
    }
    .second button{
        font-size: 90%;
    }
    .third .business{
        grid-column: 1/3;
    }
} */
@media (max-width:376px){
    .second button{
        width: 80%;
    }
}