<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/regularHeader.css">
  <link rel="stylesheet" href="../css/about.css">
  <title>About</title>
</head>

<body>
  <div class="regularHeader">
    <div class="logo">
      <img src="../assets/images/logo@2x.png" alt="logo">
    </div>
    <div class="navBar">
      <ul>
        <li>
          <router-link to="/">Acceuil</router-link>
        </li>
        <li>
          <router-link to="/services/">Sevives</router-link>
        </li>
        <li>
          <router-link to="/country/">Country</router-link>
        </li>
        <li>
          <router-link to="/news/">News</router-link>
        </li>
        <li>
          <router-link to="/about/">About us</router-link>
        </li>
      </ul>
    </div>
    <div class="suscribe">
      <div class="suscribeButton">
        <span>Suscribe Newsletter</span>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="first">
      <div class="title">
        <h1>We let you get more easly</h1>
      </div>
      <div class="text">
        <div class="vision">
          <h1>Our Vision</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, corporis?
          </p>
        </div>
        <div class="business">
          <h1>Our Business</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, possimus.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, corporis?
          </p>
        </div>
      </div>
    </div>
    <div class="banner">
      <img src="../assets/images/banner.jpg" alt="banner">
    </div>
    <div class="teams">
      <div class="text">
        <h1>Our Team</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi?
        </p>
      </div>
      <div class="team">
        <div class="guys">
          <div class="image">
            <img src="../assets/images/avartar-sample.png" alt="ceo">
          </div>
          <h1>CEO & Founder</h1>
          <p>Konan Parfait</p>
        </div>
        <div class="guys">
          <div class="image">
            <img src="../assets/images/avatar-2.png" alt="Project manager">
          </div>
          <h1>Project Manager</h1>
          <p>Landry Touré</p>
        </div>
        <div class="guys">
          <div class="image">
            <img src="../assets/images/avartar-2.png" alt="Marketing manager">
          </div>
          <h1>Marketing manager</h1>
          <p>Seka Jean</p>
        </div>
      </div>
      <div class="ready">
        <h1>Ready to get started?</h1>
        <div class="input">
          <input type="text" placeholder="Enter your email adress">
        </div>
      </div>
    </div>
  </div>

</body>

</html>